<head>
  <title>Collaborative Tools</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <script src="{{url_for('static', filename='home.js')}}"></script>
</head>

<body>
  <div class="sidebar">
    <a class="active" href="#home">Calendar</a>
    <a href="#meetings">Meetings</a>
    <a href="#chatroom">Chat Room</a>
  </div>

  <calendarbody>
    <div><button class="button" type="button"><strong>CONNECT</strong></button></div>
    <div class="calendar">
      <header>
          <h1 class="" style="flex: 1;"><span></span><strong>NOV 6, 2022 – NOV 12, 2022</strong></h1>
      </header>

      <table>
        <thead>
          <tr>
            <th class="blankspace"></th>
            <th>Sun, 6</th>
            <th>Mon, 7</th>
            <th>Tue, 8</th>
            <th>Wed, 9</th>
            <th>Thu, 10</th>
            <th>Fri, 11</th>
            <th>Sat, 12</th>
          </tr>
        </thead>
      </table>

      <div>
        <table>
        <tbody>
          <tr>
            <td class="headcol"></td>
            <td id="Sun530AM"></td>
            <td id="Mon530AM"></td>
            <td id="Tue530AM"></td>
            <td id="Wed530AM"></td>
            <td id="Thu530AM"></td>
            <td id="Fri530AM"></td>
            <td id="Sat530AM"></td>
          </tr>
          <tr>
            <td class="headcol">6:00AM</td>
            <td id="Sun600AM"></td>
            <td id="Mon600AM"></td>
            <td id="Tue600AM"></td>
            <td id="Wed600AM"></td>
            <td id="Thu600AM"></td>
            <td id="Fri600AM"></td>
            <td id="Sat600AM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun630AM"></td>
            <td id="Mon630AM"></td>
            <td id="Tue630AM"></td>
            <td id="Wed630AM"></td>
            <td id="Thu630AM"></td>
            <td id="Fri630AM"></td>
            <td id="Sat630AM"></td>
          </tr>
          <tr>
            <td class="headcol">7:00AM</td>
            <td id="Sun700AM"></td>
            <td id="Mon700AM"></td>
            <td id="Tue700AM"></td>
            <td id="Wed700AM"></td>
            <td id="Thu700AM"></td>
            <td id="Fri700AM"></td>
            <td id="Sat700AM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun730AM"></td>
            <td id="Mon730AM"></td>
            <td id="Tue730AM"></td>
            <td id="Wed730AM"></td>
            <td id="Thu730AM"></td>
            <td id="Fri730AM"></td>
            <td id="Sat730AM"></td>
          </tr>
          <tr>
            <td class="headcol">8:00AM</td>
            <td id="Sun800AM"></td>
            <td id="Mon800AM"></td>
            <td id="Tue800AM"></td>
            <td id="Wed800AM"></td>
            <td id="Thu800AM"></td>
            <td id="Fri800AM"></td>
            <td id="Sat800AM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun830AM"></td>
            <td id="Mon830AM"></td>
            <td id="Tue830AM"></td>
            <td id="Wed830AM"></td>
            <td id="Thu830AM"></td>
            <td id="Fri830AM"></td>
            <td id="Sat830AM"></td>
          </tr>
          <tr>
            <td class="headcol">9:00AM</td>
            <td id="Sun900AM"></td>
            <td id="Mon900AM"></td>
            <td id="Tue900AM"></td>
            <td id="Wed900AM"></td>
            <td id="Thu900AM"></td>
            <td id="Fri900AM"></td>
            <td id="Sat900AM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun930AM"></td>
            <td id="Mon930AM"></td>
            <td id="Tue930AM"></td>
            <td id="Wed930AM"></td>
            <td id="Thu930AM"></td>
            <td id="Fri930AM"></td>
            <td id="Sat930AM"></td>
          </tr>
          <tr>
            <td class="headcol">10:00AM</td>
            <td id="Sun1000AM"></td>
            <td id="Mon1000AM"></td>
            <td id="Tue1000AM"></td>
            <td id="Wed1000AM"></td>
            <td id="Thu1000AM"></td>
            <td id="Fri1000AM"></td>
            <td id="Sat1000AM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun1030AM"></td>
            <td id="Mon1030AM"></td>
            <td id="Tue1030AM"></td>
            <td id="Wed1030AM"></td>
            <td id="Thu1030AM"></td>
            <td id="Fri1030AM"></td>
            <td id="Sat1030AM"></td>
          </tr>
          <tr>
            <td class="headcol">11:00AM</td>
            <td id="Sun1100AM"></td>
            <td id="Mon1100AM"></td>
            <td id="Tue1100AM"></td>
            <td id="Wed1100AM"></td>
            <td id="Thu1100AM"></td>
            <td id="Fri1100AM"></td>
            <td id="Sat1100AM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun1130AM"></td>
            <td id="Mon1130AM"></td>
            <td id="Tue1130AM"></td>
            <td id="Wed1130AM"></td>
            <td id="Thu1130AM"></td>
            <td id="Fri1130AM"></td>
            <td id="Sat1130AM"></td>
          </tr>
          <tr>
            <td class="headcol">12:00PM</td>
            <td id="Sun1200PM"></td>
            <td id="Mon1200PM"></td>
            <td id="Tue1200PM"></td>
            <td id="Wed1200PM"></td>
            <td id="Thu1200PM"></td>
            <td id="Fri1200PM"></td>
            <td id="Sat1200PM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun1230PM"></td>
            <td id="Mon1230PM"></td>
            <td id="Tue1230PM"></td>
            <td id="Wed1230PM"></td>
            <td id="Thu1230PM"></td>
            <td id="Fri1230PM"></td>
            <td id="Sat1230PM"></td>
          </tr>
          <tr>
            <td class="headcol">1:00PM</td>
            <td id="Sun100PM"></td>
            <td id="Mon100PM"></td>
            <td id="Tue100PM"></td>
            <td id="Wed100PM"></td>
            <td id="Thu100PM"></td>
            <td id="Fri100PM"></td>
            <td id="Sat100PM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun130PM"></td>
            <td id="Mon130PM"></td>
            <td id="Tue130PM"></td>
            <td id="Wed130PM"></td>
            <td id="Thu130PM"></td>
            <td id="Fri130PM"></td>
            <td id="Sat130PM"></td>
          </tr>
          <tr>
            <td class="headcol">2:00PM</td>
            <td id="Sun200PM"></td>
            <td id="Mon200PM"></td>
            <td id="Tue200PM"></td>
            <td id="Wed200PM"></td>
            <td id="Thu200PM"></td>
            <td id="Fri200PM"></td>
            <td id="Sat200PM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun230PM"></td>
            <td id="Mon230PM"></td>
            <td id="Tue230PM"></td>
            <td id="Wed230PM"></td>
            <td id="Thu230PM"></td>
            <td id="Fri230PM"></td>
            <td id="Sat230PM"></td>
          </tr>
          <tr>
            <td class="headcol">3:00PM</td>
            <td id="Sun300PM"></td>
            <td id="Mon300PM"></td>
            <td id="Tue300PM"></td>
            <td id="Wed300PM"></td>
            <td id="Thu300PM"></td>
            <td id="Fri300PM"></td>
            <td id="Sat300PM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun330PM"></td>
            <td id="Mon330PM"></td>
            <td id="Tue330PM"></td>
            <td id="Wed330PM"></td>
            <td id="Thu330PM"></td>
            <td id="Fri330PM"></td>
            <td id="Sat330PM"></td>
          </tr>
          <tr>
            <td class="headcol">4:00PM</td>
            <td id="Sun400PM"></td>
            <td id="Mon400PM"></td>
            <td id="Tue400PM"></td>
            <td id="Wed400PM"></td>
            <td id="Thu400PM"></td>
            <td id="Fri400PM"></td>
            <td id="Sat400PM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun430PM"></td>
            <td id="Mon430PM"></td>
            <td id="Tue430PM"></td>
            <td id="Wed430PM"></td>
            <td id="Thu430PM"></td>
            <td id="Fri430PM"></td>
            <td id="Sat430PM"></td>
          </tr>
          <tr>
            <td class="headcol">5:00PM</td>
            <td id="Sun500PM"></td>
            <td id="Mon500PM"></td>
            <td id="Tue500PM"></td>
            <td id="Wed500PM"></td>
            <td id="Thu500PM"></td>
            <td id="Fri500PM"></td>
            <td id="Sat500PM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun530PM"></td>
            <td id="Mon530PM"></td>
            <td id="Tue530PM"></td>
            <td id="Wed530PM"></td>
            <td id="Thu530PM"></td>
            <td id="Fri530PM"></td>
            <td id="Sat530PM"></td>
          </tr>
          <tr>
            <td class="headcol">6:00PM</td>
            <td id="Sun600PM"></td>
            <td id="Mon600PM"></td>
            <td id="Tue600PM"></td>
            <td id="Wed600PM"></td>
            <td id="Thu600PM"></td>
            <td id="Fri600PM"></td>
            <td id="Sat600PM"></td>
          </tr>
          <tr>
            <td class="headcol"></td>
            <td id="Sun630PM"></td>
            <td id="Mon630PM"></td>
            <td id="Tue630PM"></td>
            <td id="Wed630PM"></td>
            <td id="Thu630PM"></td>
            <td id="Fri630PM"></td>
            <td id="Sat630PM"></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </calendarbody>

  <eventmanagement>
    <eventhead ><strong>New Event</strong></eventhead>
    <eventinfo>
      <form action="{{ url_for('home') }}"  onsubmit="return checkForm(event)" method="post">
        <input type="text" class="rounded-input" name="title" placeholder="Title" required/>
        <div class="radiolabel">
          <label>Sun</label>
          <input type="radio" checked="checked" name="day" id="sun" value="Sun">
        </div>
        <div class="radiolabel">
          <label>Mon</label>
          <input type="radio" name="day" id="mon" value="Mon">
        </div>
        <div class="radiolabel">
          <label>Tue</label>
          <input type="radio" name="day" id="tue" value="Tue">
        </div>
        <div class="radiolabel">
          <label>Wed</label>
          <input type="radio" name="day" id="wed" value="Wed">
        </div>
        <div class="radiolabel">
          <label>Thu</label>
          <input type="radio" name="day" id="thu" value="Thu">
        </div>
        <div class="radiolabel">
          <label>Fri</label>
          <input type="radio" name="day" id="fri" value="Fri">
        </div>
        <div class="radiolabel">
          <label>Sat</label>
          <input type="radio" name="day" id="sat" value="Sat">
        </div>
        <br></br>
        <div>
          <label style="padding: 10px;">Start </label>
          <select class="dropdown" style="width:50px;" name="starthour">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <label> <strong> : </strong></label>
          <select class="dropdown" style="width:50px;" name="startmin">
            <option value="00">00</option>
            <option value="30">30</option>
          </select>
          <input id="toggle-on" name="starttime" value="AM" type="radio" checked>
          <label for="toggle-on" >AM</label>
          <input id="toggle-off" name="starttime" value="PM" type="radio">
          <label for="toggle-off">PM</label>
          <br></br>
        </div>
        <div>
          <label style="padding: 14px;"> End  </label>
          <select class="dropdown" style="width:50px;" name="endhour">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <label> <strong> : </strong></label>
          <select class="dropdown"  style="width:50px;" name="endmin">
            <option value="00">00</option>
            <option value="30">30</option>
          </select>
          <input id="end-toggle-on" name="endtime" value="AM" type="radio" checked>
          <label for="end-toggle-on">AM</label>
          <input id="end-toggle-off" name="endtime" value="PM" type="radio">
          <label for="end-toggle-off">PM</label>
        </div>
        <input class= "createbutton" type="submit" value="Add Event"/>
      </form>
      <script type="text/javascript">
         myVar = addEvents({{data|tojson}})
      </script>
      <p id="demo"></p>

    </eventinfo>
    <button class="deletebutton" type="button" onclick="sayhello()"><strong>Delete Event</strong></button>

  </eventmanagement>
</body>
